PORT=3000

NODE_ENV=development

MONGODB_URI=mongodb://usuario:password@host/kinetic

MONGODB_URI_DEMO=mongodb://usuario:password@host/kinetic_demo

JWT_SECRET=tu_clave_secreta

ADMIN_USER=admin
ADMIN_PASSWORD_HASH=hash_bcrypt

RECEPCION_USER=recepcion
RECEPCION_PASSWORD_HASH=hash_bcrypt

DUENO_USER=dueno
DUENO_PASSWORD_HASH=hash_bcrypt